<ion-view>

    <ion-nav-title>Messe 2015</ion-nav-title>

    <ion-nav-buttons side="right">
        <a ui-sref="settings" class="button button-icon icon ion-gear-a"></a>
    </ion-nav-buttons>

    <ion-content id="home" class="has-header has-footer" scroll="false" padding="true">

        <h1 class="title">Feedback Survey</h1>

    </ion-content>

    <ion-footer-bar class="bar bar-footer bar-positive">
        <a ui-sref="survey({id:0})" class="button button-balanced pull-right">Umfrage starten <i class="ion-arrow-right-c"></i></a>
    </ion-footer-bar>

</ion-view>
